$primary-color : #ff6060;
$primary-background-color : #F6F6F6;
$secondary-background-color : #FFF;
$tertiary-background-color : #000;
$primary-text-color : #FFF;
$secondary-text-color : #000;


$primary-font: Montserrat;



/* @use '../../Styles/variables' as var; */

/* var.$primary-color */

/* var.$primary-background-color-color */
/* var.$secondary-background-color-color */
/* var.$tertiary-background-color-color */

/* var.$primary-text-color */
/* var.$secondary-text-color */

/* var.$primary-font */